<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <b>Enter your details:</b>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="name" id="player-name" placeholder="Username (choose carefully, it can't be changed later)" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="forum_link" id="player-forum" placeholder="Link to forum profile">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="email" id="player-email" placeholder="Email (required)" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="discord" id="player-discord" placeholder="Discord">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="avatar"><b>Avatar</b></label><br>
                    <input type="file" name="avatar" id="player-avatar" class="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Player</button>
        </form>
    </div>
</div>
</body>
</html>
