<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6 info-page-col">
      <h4>Development Team</h4>
      <br>
      <ul class="list-unstyled">
        <li>
          <img src="https://goo.gl/HYfgSt" class="player-img">
          Cameron Kocher (Xerxos#5993)
        </li>
        <br>
        <li>
          <img src="https://cdn.discordapp.com/avatars/122796404337934338/d0884500cc7fb0b335493ed169edaab3.png" class="player-img">
          Fatih Ridha (TechForce#3594)
        </li>
      </ul>
    </div>
    <div class="col-md-6 info-page-col">
      <h4>Special Thanks</h4>
      <br>
      <ul class="list-unstyled">
        <li>Revenant</li>
        <li>RubyClaw</li>
        <li>The Nuzlocke Viability Rankings Team</li>
        <li>Nuzlocke Forums Contributors and Staff</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 info-page-col">
      <h1>Join our <a href="https://discord.gg/3gRb7jf" target="_blank">Discord server!</a></h1>
      </div>
  </div>
</div>