<% include partials/header.ejs %>
<div id="info-page-container">
    <h4>Welcome to the Nuzlocke Rating System!</h4>
    <p class="info-page-text">If you've ever played chess or competitive Pokemon on Pokemon Showdown, you're probably familiar with the Elo rating system.</p>
</div>
</div>
</body>
</html>