<% include partials/header.ejs %>
    <div class="table-wrapper">
        <table class="table table-hover table-dark table-striped" id="title-info-table">
            <thead class="thead-info">
                <tr>
                    <th scope="col" onclick="sortTable(0, 'title-info-table')" class="sortable">Title</th>
                    <th scope="col" onclick="sortTable(1, 'title-info-table')" class="sortable">Abbreviation</th>
                    <th scope="col" onclick="sortTable(2, 'title-info-table')" class="sortable">Minimum Rating</th>
                    <th scope="col" onclick="sortTable(3, 'title-info-table')" class="sortable">Minimum Challenges</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < titles.length; i++){ %>
                    <tr>
                        <td><%= titles[i].title_name %></td>
                        <td><%= titles[i].title_abbrev %></td>
                        <td><%= titles[i].rating_floor %></td>
                        <td><%= titles[i].min_challenges %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>