<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 info-page-col">
          <h4>So, you're new to the Nuzlocke Rating System?</h4>
          <br>
          <p class="text-left">
            No worries! We're glad you're here. If you're ready to start climbing up the ranks, just follow the steps below. Please note that this site is new and still in development, so if you run into any issues, don't be afraid to ask for help on our <a href="https://discord.gg/ebH8eY" target="_blank">Discord server</a>. Anyway, without further ado, here's how to use the site.
          </p>

            <ol>
              <li class="spaced-list">
                <b>Create an account.</b> Hit "Register" up in the top right corner and register just as you would for any other site. Most of the fields aren't required - you'll only have to enter a username (can't be the same as an existing one) and a password.
              </li>
              <li class="spaced-list">
                <b>Log in.</b> Hit "Login" up in the top right corner and log in with your new credentials.
              </li>
              <li class="spaced-list">
                <b>Add a run.</b> Clicking the "Add Run" button (under the "Add" dropdown) on the navigation bar will take you to a page where you can enter the details of your run. Please keep in mind that <u>only runs completed on or after January 1st, 2019 are valid</u>! These are the things you'll need to enter in:
                <ul>
                  <li>
                    <b>Run name (required):</b> This is what you'd like to call your run. Think of it like a nickname that you'd give a Pokemon, except this time it's for the run as a whole! Pick something memorable, since it's what you'll use to identify the run on the site going forward - for instance when you're registering completed challenges.</b>
                  </li>
                  <li>
                    <b>Link to run (required):</b> To register a run, you'll need to provide a link to a place where it was at least partially documented. We don't have any strict requirements with regard to documentation - anything from a full YouTube series to a simple forum post listing your final team members is perfectly fine.
                  </li>
                  <li>
                    <b>Game played (required):</b> Simply select the game that you played. Only main series Pokemon games are chooseable as of right now, but we may start to include hacks or spinoffs sometime in the future. Once you've chosen a game, six empty team slots will pop up.
                  </li>
                  <li>
                    <b>Final team (first team slot required):</b> Select your final team members, including those who died during the final battles. If it was on your team when you got to the end credits, make sure to include it! Filling in all the slots is not mandatory, but you'll at least need to fill the first one.
                  </li>
                  <li>
                    <b>Number of deaths (required):</b> This one's pretty simple: just record how many deaths you had over the course of the run. If you didn't count or if you simply lost track, it's fine to estimate.
                  </li>
                  <li>
                    <b>Game rating (unmodifiable):</b> As you enter in all the details of your run, the page automatically calculates the run's rating. If you're confused by how this works, make sure to check out <a href="/info" target="_blank">this page</a>.
                  </li>
                  <li>
                    <b>Ruleset (optional):</b> Tick the boxes that correspond to the rules you used. The two core rules of Nuzlocke are assumed, so don't be confused by their absence.
                  </li>
                </ul>
                ...and once you're done with all that, press enter or hit the "Add Run" button (the one in the middle of the page, not the one on the menubar).
              </li>
              <li class="spaced-list">
                <b>Climb up the leaderboard by completing more runs.</b> Your rating increases every time you complete a run, so doing a bunch of Nuzlockes is the best way to get to the top. Remember that difficulty and performance also have major effects - one deathless Nuzlocke of a hard game with a ridiculous ruleset can be worth more than five "easy" Nuzlockes with high death counts. 
              </li>
              <li class="spaced-list">
                <b>Complete some challenges.</b> You can view all the challenges <a href="/info/challenges" target="_blank">here</a>. Challenges don't affect your rating, but completing them is necessary if you're aiming for certain titles, so don't neglect them!
              </li>
              <li class="spaced-list">
                <b>Earn titles.</b> Once you've completed some challenges and gotten your rating high enough, you'll be qualified to earn special titles! Titles have their own requirements, which you can view <a href="/info/titles" target="_blank">here</a>, so be sure to check them early on so as not to complete more challenges than necessary. Once you've earned a title, you'll be able to display your accomplishment both here and on the Nuzlocke Forums. 
              </li>
            </ol>
      </div>
      <div class="col-md-4 info-page-col" style="padding-top:100px;text-align:center">
        <img src="https://media.discordapp.net/attachments/518196948646494215/530589141067628564/nuzchess.png" height="500" width="350"/>
        <p class="small">Nuzchess image drawn by Revenant</p>
      </div>
    </div>
  </div>
  