#site-header {
    background-color: black;
    align-items: center;
    display: flex;
    position: relative;
    min-height: 150px;
    margin: 0 0 50px 0;
}

a {
    text-decoration: none;
    color: #0645AD;
}

a:hover {
    text-decoration: underline;
}

#site-title {
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    padding: 50px;
}

header a:hover {
    text-decoration: none;
}

/*
 *  Rating table
 */

table {
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}