.table-wrapper {
  margin: 50px;
}

.player-img {
  width: 40px;
  height: 40px;
}

th.sortable {
  cursor: pointer;
}

.bg-black {
  background-color: #212529;
}

body {
  color: white;
}

.pokemon-input {
  margin-bottom: 5px;
}

.hidden-data {
  display: none;
}

.split {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.info-page-col {
  padding: 50px 0 0 50px;
}